// colors
$colBg: #FFFF;
$colMainText: #424242;
$colSecondaryText: #878787;
$colAccent: #41522E;
$colBorders: #C9CACC;
$colError: #EB1717;
$colLiked: #E55858;

// mediaQuery breakpoints
$maxContentWidth: 1439.98+px;
$br1: 1279.99+px;
$br2: 1023.99+px;
$br3: 991.98+px;
$br4: 767.98+px;
$br5: 479.98+px;